<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiqzq.miaoshasystem.dao.GoodsMapper">
    <resultMap id="BaseResultSeckillOrderMap" type="com.yiqzq.miaoshasystem.pojo.SeckillOrder">
        <constructor>
            <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Integer"/>
            <arg column="user_id" jdbcType="BIGINT" javaType="java.lang.Integer"/>
            <arg column="order_id" jdbcType="BIGINT" javaType="java.lang.Integer"/>
            <arg column="goods_id" jdbcType="BIGINT" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>
    <resultMap id="BaseResultSeckillOrderAndGoodsMap" type="com.yiqzq.miaoshasystem.pojo.SeckillGoods">
        <constructor>
            <arg column="seckil_price" jdbcType="DECIMAL" javaType="java.lang.Double"/>
            <arg column="stock_count" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="start_date" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="end_date" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="id" jdbcType="BIGINT" javaType="java.lang.Integer"/>
            <arg column="goods_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="goods_title" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="goods_img" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="goods_price" jdbcType="DECIMAL" javaType="java.lang.Double"/>
            <arg column="goods_stock" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="create_date" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_date" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="goods_detail" jdbcType="LONGVARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_Seckill_List">
    sg.seckil_price , sg.stock_count , sg.start_date , sg.end_date
  </sql>
    <sql id="Base_Column_List">
    goods.id, goods.goods_name, goods.goods_title, goods.goods_img, goods.goods_price,
    goods.goods_stock, goods.create_date, goods.update_date
  </sql>
    <sql id="Blob_Column_List">
    goods.goods_detail
  </sql>

    <sql id="SeckillOrder_List">
    id, user_id, order_id, goods_id
  </sql>

    <!--    以上方便下面的操作-->
    <select id="getAllGoods" resultMap="BaseResultSeckillOrderAndGoodsMap">
        select
        <include refid="Base_Column_Seckill_List"/>
        ,
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from goods
        left join seckill_goods sg on sg.goods_id = goods.id
    </select>

    <select id="getseckillGoodsByGoodsId" resultMap="BaseResultSeckillOrderAndGoodsMap">
        select
        <include refid="Base_Column_Seckill_List"/>
        ,
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from goods
        left join seckill_goods sg on sg.goods_id = goods.id
        WHERE goods.id = #{goodsId}
    </select>

    <update id="reduceStock">
    UPDATE seckill_goods
    SET stock_count = stock_count -1
    WHERE goods_id = #{goodsId} and stock_count > 0
  </update>

</mapper>